
/* reset css import */

@import url(../Css/_reset.css);

/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* Header code  start*/

body{
    font-family: 'Roboto', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px;
    padding-top: 41px;
}



header nav a{
    padding: 7px;
    color: #222;
}


nav a:hover{
    text-decoration: underline;
}



.fa-bars{
    display: none;
}


@media(max-width:872px){

  header nav{
    display: none;
  }

  .fa-bars{
    font-size: 30px;
    display: flex;
    cursor: pointer;
  }

}

/* Header code end */
/* Header code end */






/* introduction  code start*/
/* introduction  code start*/


 .introduction{
  display: flex;
  justify-content: space-between;
  padding-left: 112px;
  padding-right: 112px;
  flex-wrap: wrap;
 }


.introduction .left-side{
  padding-top: 117px;
  min-width: 700px;
  display: flex;
  flex-direction: column;
}



 .introduction h1{
  font-size: 72px;
  font-weight: 700;
 }

 .introduction .left-side h1 span{
  color:#ff8a56 ;
 }

 .introduction .left-side p{
  color: #666;
  padding-top: 34px;
  padding-bottom: 34px;
 }


 .introduction .left-side button{
  width: 151px;
  height: 58px;
  background-color: #333;
  color: #fff;
 }

 .introduction .button-class a{
  color: #000;
  padding-left: 15px;
  text-decoration:none;
 }

 .introduction .button-class{
  display: flex;
  align-items: center;
 }




 @media(max-width:1427px) and (min-width:836px){

   .introduction .left-side{
    flex-basis: 100%;
    align-items: center;

   }

 .introduction .right-side{
  margin: 0 auto;
 }


 }


 @media(max-width:768px) {
  .introduction .left-side{
    min-width: 500px;
  }
 
  .introduction .left-side h1{
    font-size: 48px;
    text-align: center;
  }

 .introduction .left-side p{
  text-align: center;
 }

.introduction .button-class{
  margin: 20px auto;

}

  .introduction{
    padding-left: 30px;
  }

  .introduction .right-side{
    margin: 0 auto;
  }

 }


 /* introduction code END */
 /* introduction code END */








 
 /* Trusted-by-section code Start */
 /* Trusted-by-section code Start */



.trusted-by-section{
  padding-top: 77px;
}



.trusted-by-section h5{
  text-align: center;
 font-size: 1.2rem;
 }


 .partner-section{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
 }


  @media(max-width:768px){
  
    .partner-company:nth-child(even){
      display: none;
    }
  }


  @media(max-width:576px){
    .partner-company:not(:first-child){
      display: none;
    }
  }

  /* Trusted-by-section code End */
  /* Trusted-by-section code End */









  /* Services-section code Start */
  /* Services-section code Start */


  .services-section{
    padding-top: 80px;
  }
  
  
  .services-section h6 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color:#ff5e69;
    text-transform: uppercase;
    padding-top: 40px;
  
  }
  
  
  .services-section h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-top: 20px;
  }
  
  
  
  .services-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 100px;
  }
  
  .service-card {
    width: 252px;
    min-width: 252px;
  }
  
  
  .service-card h2{
    font-weight: 700;
    padding: 30px 0;
  }
  
  .service-card p{
    opacity: .6;
   padding-top: 15px;
   padding-bottom: 15px;
  }
  
  .service-card li{
    list-style-position: inside;
  }
  
  
  @media(max-width:576px){
  
  .services-section h1{
    font-size: 30px;
  }

  }



  /* Servies-section code End */
  /* Servies-section code End */