
/* reset css import */

@import url(../Css/_reset.css);

/* font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112px;
    padding-top: 41px;
}



header nav a{
    padding: 7px;
    color: #222;
}


nav a:hover{
    text-decoration: underline;
}



.fa-bars{
    display: none;
}


@media(max-width:872px){

  header nav{
    display: none;
  }

  .fa-bars{
    font-size: 30px;
    display: flex;
  }

}
